@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.HasSampleDownload)
{
    <div class="download-sample">
        <span class="download-sample-button">
            <audio controls src="@Url.RouteUrl("GetSampleDownload", new { productid = Model.Id })"> "Listen !!" </audio>
        </span>
    </div>
    <div><a href="/sound" target="_blank" style="margin-left:30px;" >Check out all our Sound Clips...</a></div>
}