@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
<div class="product-item" data-productid="@Model.Id">
    <div class="details">
        <h2 class="product-title">
              @Model.Name 
              <br />
              @Html.Raw(Model.ShortDescription)
        </h2>
    </div>
</div>
